<h1>Index of all your tweets</h1>

<h2>
tweets <%= @tweets.count %>
<br> followers  <%= @follower_count %>
<br> following <%= @following_count %>
</h2>

<ul>
<% @tweets.each do |tweet| %>
<li>
	<%= tweet.body %> &nbsp &nbsp &nbsp
	<%= time_ago_in_words tweet.created_at %> ago 
	
<% end %>
</ul>
<br>
<%= link_to "Add tweet", new_tweet_path %>